<%= link_to @added_to, @added_to_url %><br />

<ul><% @attachments.each do |attachment | %>
<li><%= attachment.filename %></li>
<% end %></ul>

<%= call_hook(:view_mailer_attachments_added_bottom,
              :attachments => @attachments) %>
